body {
  font-family: "Open Sans", sans-serif;
  color: #020202;
  margin: 0;

}

.hero-section {
    background-image: url(/img/faded-office.png);
    background-size: cover;
    width: 100%;
    margin: 0;
    border: .1px solid white;
}


#title {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    padding: 30px 0 0 0;
}

#description {
    font-weight: 400;
    margin: 0 0 40px 0;
}

#underline {
    border-bottom: 3px solid #0ea5e9;
}

button {
    background-color: #0ea5e9;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    margin: 0 0 120px 0;
    
}
